/* About.css */
.dark-mode h1 {
    color: rgb(20, 220, 255);
}

.light-mode h1 {
    color: rgb(0, 255, 255);
}

.accordion-button {
    color: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    /* background-color: brown; */
}

/* .accordion-button {
    background-color: red;
} */